*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    margin:0;
}

.scroll-section-1{
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0,0,255,0.1); */
}
.scroll-section-2{
    width: 100vw;
    height: 100vh;
}
.scroll-section-3{
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0,0,255,0.1); */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
